@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
  background-image: linear-gradient(cyan, rgb(255, 100, 100));
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.dropdown-item {
  text-align: right;
}

.btn-primary {
  background-color: yellow;
  color: black;
  border: 4px solid black;
  transition: 0.5s;
}

.btn-primary:hover {
  background-color: gray;
  color: yellow;
  border: 4px solid black;
  transition: 0.5s;
}

.btn-danger {
  border: 4px solid black;
}

.card {
  border: 4px solid black;
  border-radius: 15%;
  text-align: center;
}

.icon {
  color: red;
  font-size: 1.5rem;
}

.product-info {
  font-size: 1.2rem;
  background-color: yellow;
  border: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.customerRating {
  color: green;
  font-size: 1.1rem;
}

.img {
  max-width: 70%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

h1,
h2 {
  text-align: center;
}

.badge {
  font-size: 1rem;
}

.max-width {
  max-width: 25%;
}

.align-left {
  text-align: left;
}
